<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
		<%= title %>'s personal webpage
	</header>
	<section>
		<h1>Welcome to <%= title %>'s personal webpage!</h1>
		<p>
			This website is used only for learning. I will upload personal articles about computer technology learning later. I obey all laws and will not upload improper articles.
		</p>
	</section>
	<footer>
		<a href="http://beian.miit.gov.cn">备案号：京ICP备19049308号</a>
		版权所有：©2019 ZQY
	</footer>
  </body>
</html>
